@font-face {
    font-family: 'futura-book';
    src: url(../fonts/futura-book-font.ttf);
}

@font-face{
  font-family:"ubuntu";
  src: url(../fonts/UbuntuCondensed-Regular.ttf);
}

@font-face{
  font-family:"caveat";
  src: url(../fonts/Caveat-Regular.ttf)
}

/* GENERAL WEB PAGE SETTINGS*/
html {
  margin-top:10px;
  margin-left: 13%;
  margin-right:13%;
}

body {
  width: 90%;
  text-align: center;

}

.page-setting {
  display:flex;
  flex-direction: column;
}

/* FONT SETTINGS*/
h1{
  font-size: 65px;
  text-align: center;
  font-family: "ubuntu","Arial",sans-serif;
  margin:5px;
  margin-top:10px;
}

h2 {
  font-family:'ubuntu',Helvetica,Arial,sans-serif;
  font-size: 50px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

h3{
  padding-top: 4px;
  padding-bottom: 2px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family:'futura-book',Helvetica,Arial,sans-serif;
  font-size: 30px;
}

h4{
  font-family:'lora',Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: bold;
}

p{
  font-size: 25px;
  line-height: 1.5em;
  font-family:'Arial','Helvetica',san-serif;
}

em{
  color:#B31B1B;
  font-style: normal;
}

a {
    background-color: inherit;
    color: #343434;
    text-decoration: none;
    font-family:inherit;
    border-bottom:solid;
    border-color: #4FE2C1;
    border-width: 1.5px;
    transition-property:all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

nav ul li a{
  border: none;
  font-family:Helvetica,Arial,sans-serif;
  font-size: 20px;
}

nav ul li{
  display:inline-block;
  padding: 10px 10px;
  margin:5px;
}

ul{
  font-size: 17px;
  line-height: 1.5em;
  font-family:'lora','times new roman',"serif";
  justify-content: center;
  align-items: center;
}


/* HOVER*/
a:focus, a:hover, a:active {
  color: inherit;
  text-decoration: underline;
}

nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #4FE2C1;
  background-color: inherit;
}

/* HEADER AND NAGIVATION BAR*/
nav{
  margin-left:15px;
  margin-right:15px;
  display: inline-block;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 10px;
}

.current-page{
  /* the current tab on nagivation bar*/
  font-weight:bold;
  background-color: #4FE2C1;
}

/* FOOTER*/
footer{
  padding:10px;
  margin-left: 40px;
  margin-right: 40px;
  border-top: solid;
  border-width: 1px;
}

/* MAIN CONTENT PAGE*/
.contentBody {
  display:flex;
  flex-direction: row;
  padding:10px;
  padding-top:0px;
}


.main-content{
  width:73%;
  padding:0.5em;
  margin-left: 2em;
  margin-right: 0;
  padding-top:0;
  display: flex;
  flex-direction: row;
}

.main-content-colomn{
  display: flex;
  flex-direction: column;
}

#hello{
  font-size: 70px;
}

/* MAIN CONTENT PAGE SETTING FOR: index.html*/
.welcome{
  display:flex;
  flex-direction: row;
}

.welcome-text{
  width:60%;
}

.details{
  display:flex;
  flex-direction: row-reverse;
}
